@font-face 
{
    font-family:M1;
    src: url(./fuentes/LasAmericas_PERSONAL_USE_ONLY.otf);
}
@font-face 
{
    font-family:M2;
    src: url(./fuentes/PaybAck.ttf);
}
@font-face 
{
    font-family:M3;
    src: url(./fuentes/coolvetica\ rg\ it.otf);
}